.header{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    min-height: 81px;
    padding: 15px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header.light{
    border-bottom: 1px solid var(--colors-neutral-200, #E0E4EA);
    background-color: white;
}

.header.dark{
    background-color: var(--colors-base-black, #0E121B);
    border-bottom: 1px solid var(--colors-neutral-800, #232530);
}

.header_group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}