.login{
    width: 540px;
    height: auto;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: var(--corner-radius-12, 12px);
}

.login.light{
    background-color: #FFF;
    box-shadow: 0px 8px 12px 0px rgba(240, 240, 240, 0.60);  
    border: 1px solid var(--colors-neutral-200, #E0E4EA);
}

.login.dark{
    border: 1px solid var(--colors-neutral-800, #232530);
    background: var(--colors-neutral-950, #0E121B);
}

.login_logo{
    width: 95px;
    height: 28px;
    margin-bottom: 8px;
}

.login_title{
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.5px;
    margin: 0px 0px -8px 0px;
}

.login_title.light{
    color: var(--colors-neutral-950, #0E121B);
}

.login_title.dark{
    color: white;
}

.login_message{
    color: var(--colors-neutral-600, #525866);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
    margin: 0px;
}

.login_message.light{
    color: var(--colors-neutral-600, #525866);
}

.login_message.dark{
    color: var(--colors-neutral-300, #CACFD8);
}

.login_account{
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
    margin: 0px;
}

.login_account.light{
    color: var(--colors-neutral-600, #525866);
}

.login_account.dark{
    color: var(--colors-neutral-300, #CACFD8);
}

.login_account > a{
    cursor: pointer;
}

.login_account.light > a{
    color: var(--colors-neutral-950, #0E121B);
}

.login_account.dark > a {
    color: white;
}

.login_account > a:hover{
    color: var(--colors-blue-500, #335CFF);
}

@media(max-width: 800px){
    .login{
        width: 522px;
        padding: 48px 32px;
    }
}

@media(max-width: 600px){
    .login{
        width: 343px;
        padding: 40px 16px;
    }
}