.container{
    display: grid;
    grid-template-columns: 121px 1fr;
    row-gap: 8px;
    border: none;
    padding: 0px;
    margin: 0px;
}

.header{
    display: flex;
    align-items: center;
    gap: 6px;   
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
}

.header.light{
    color: var(--colors-neutral-700, #2B303B);
}

.header.dark{
    color: var(--colors-neutral-300,#CACFD8);
}

.header_icon{
    width: 16px;
    height: 16px;
    mask-image: url('/public/icons/icon-tag.svg');
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
    mask-position: center;
}

.header_icon.light{
    background-color: #2B303B;
}

.header_icon.dark{
    background-color: #CACFD8;
}

.input{
    border: 1px solid transparent;
    padding: 0px;
    margin: 0px;
    border-radius: 6px;
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
    background-color: transparent;
}

.input.light{
    color: var(--colors-neutral-950, #0E121B);
}

.input.dark{
    color: white;
}

.input.light:focus{
    border-color: #2B303B;
    outline: none;
}

.input.dark:focus{
    border-color: var(--colors-neutral-600, #525866);
    outline: none;
}

.input.light::placeholder{
    color: #99A0AE;
}

.input.dark::placeholder{
    color: var(--colors-neutral-400, #99A0AE);
}

.error_message{
    grid-column: 2/3;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--colors-red-500, #FB3748);
    font-family: var(--font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
}

.error_icon{
    width: 16px;
    height: 16px;
}


@media(max-width: 850px){
    .container{
        grid-template-columns: 123px 1fr;
    }
}