.container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: column;
    row-gap: 6px;
    border: none;
    padding: 0px;
    margin: 0px;
}

.label{
    grid-column: 1/2;
    grid-row: 1/2;
    color: var(--colors-neutral-950, #0E121B);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.2px;
}

.label.light{
    color: var(--colors-neutral-950, #0E121B);
}

.label.dark{
    color: white;
}


.error{
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--colors-red-500, #FB3748);
    font-family: var(--font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
}

.error_icon{
    width: 16px;
    height: 16px;
}

.eye_icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    bottom: 12px;
    cursor: pointer;
}   

.input_container{
    grid-column: 1/3;
    grid-row: 2/3; 
    width: 100%;
    position: relative;  
}

.password_requirement{
    display: flex;
    align-items: center;
    gap: 8px;
    grid-column: 1/2;
    grid-row: 3/4;
    color: var(--colors-neutral-600, #525866);
    font-family: var(--font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    cursor: pointer;
}


.password_requirement.light{
    color: var(--colors-neutral-600, #525866);
}

.password_requirement.dark{
    color: var(--colors-neutral-400, #99A0AE);
}

.password_requirement > img{
    width: 16px;
    height: 16px;
    mask-image: url('./icons/icon-exclamation.svg');
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    mask-position: center;
}

.password_requirement.light > img{
    background-color: #525866;
}

.password_requirement.dark > img{
    background-color: var(--colors-neutral-400, #99A0AE);
}


.input{
    width: 100%;
    height: 44px;
    color: var(--colors-neutral-950, #0E121B);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
    padding: 12px 36px 12px 16px;
    border-radius: var(--corner-radius-8, 8px);
    border: 1px solid var(--colors-neutral-300, #CACFD8);
    background-color: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
}

.input.light{
    color: var(--colors-neutral-950, #0E121B);
    border: 1px solid var(--colors-neutral-300, #CACFD8);
    background-color: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
}

.input.dark{
    color: white;
    border: 1px solid var(--colors-neutral-600, #525866);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    background-color: transparent;
}

.input.light:hover{
    background-color: var(--colors-neutral-50, #F5F7FA);
}

.input.dark:hover{
    background-color: var(--colors-neutral-800, #232530);
}


input::-ms-reveal{
    display: none;
}

.input:hover{
    background-color: var(--colors-neutral-50, #F5F7FA);
}

.input:user-invalid{
    border-color: var(--colors-red-500, #FB3748);
}

.input::placeholder{
    color: var(--colors-neutral-500, #717784);
}

.input:focus{
    border-color: var(--colors-neutral-950, #0E121B);
    outline: 2px solid var(--colors-neutral-600, #525866);
    Outline-offset: 1px;
}