.tags{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 32px;
    border-radius: 16px 16px 0px 0px;
}

.tags.dark{
    background-color: var(--colors-neutral-950, #0E121B);
}

.tags.light{
    background-color: white;
}

.tags_title{
    font-family: var(--font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.5px;
    margin: 0px;
}

.tags_title.dark{
    color: white;
}

.tags_title.light{
    color: var(--colors-neutral-950, #0E121B);
}

.tags_all{
    display: flex;
    flex-direction: column;
    gap: 4px
}

.tags_tag{
    width: 100%;
    min-height: 40px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.2px;
    cursor: pointer;
    position: relative;
    word-break: break-all;
}

.tags_tag > span{
    width: 160px;
}


.tags_tag.light{
    color: var(--colors-neutral-700, #2B303B);
}

.tags_tag.dark{
    color: #E0E4EA;
}

.tags_icon{
    width: 20px;
    height: 20px;
    mask-image: url('/public/icons/icon-tag.svg');
    mask-size: 20px 20px;
    mask-position: center;
    mask-repeat: no-repeat;
}

.tags_icon.light{
    background-color: #2B303B;
}

.tags_icon.dark{
    background-color: #CACFD8;
}

.tags_tag:hover > .tags_icon{
    background-color: rgb(51, 92, 255);
}


.line{
    width: 100%;
    height: 1px;
    border: none;
    margin: 0px;
}

.line.dark{
    background-color: var(--colors-neutral-800, #232530);
}

.line.light{
    background-color: var(--colors-neutral-200, #E0E4EA);
}

.column{
    width: 300px;
    padding: 20px 16px 20px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.column.dark{
    border-right: 1px solid var(--colors-neutral-800, #232530);
}

.column.light{
    border-right: 1px solid var(--colors-neutral-200, #E0E4EA);
}

.empty_message{
    padding: 8px;
    margin: 0px;
    border-radius: 8px;
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.2px;
}

.empty_message.dark{
    color: white;
    background-color: var(--colors-neutral-800, #232530);
    border: 1px solid var(--colors-neutral-700, #2B303B);

}

.empty_message.light{
    color: #0E121B;
    border: 1px solid #E0E4EA;
    background-color: #F3F5F8;
}

@media(max-width: 1200px){
    .column{
        width: 250px;
    }
}

@media(max-width: 1100px){
    .column{
        width: 100%;
        padding-bottom: 42px;
        align-self: start;
    }

    .column.light{
        border-right: 0px;
        border-bottom: 2px solid var(--colors-neutral-200, #E0E4EA);
    }

    .column.dark{
        border-right: 0px;
        border-bottom: 2px solid var(--colors-neutral-800, #232530);
    }

    .empty_message{
        text-align: center;
    }
}

@media(max-width: 850px){
    .column{
        padding: 24px 32px;
        border-radius: 16px 16px 0px 0px;
    }
}

@media(max-width: 550px){
    .tags{
        padding: 24px 16px;
    }
}