.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
    padding: 0px;
    margin: 0px;
}

.input{
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 0px;
    font-family: var(--font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.5px;
    background-color: transparent;
}

.input.light{
    color: var(--colors-neutral-950, #0E121B);
}

.input.dark{
    color: white;
}


.input.light:focus{
    border-color: #2B303B;
    outline: none;
}

input.dark:focus{
    border-color: var(--colors-neutral-600, #525866);
    outline: none;
}

.input.light::placeholder{
    color: var(--colors-neutral-950, #0E121B);
}

.input.dark::placeholder{
    color: white;
}

.error_message{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--colors-red-500, #FB3748);
    font-family: var(--font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
}

.error_icon{
    width: 16px;
    height: 16px;
}

@media(max-width: 850px){
    .container{
        gap: 6px;
    }
}