.logout_button{
    border: none;
    border-radius: var(--spacing-075, 6px);
    background-color: transparent;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.2px;
    position: relative;
    cursor: pointer;
}

.logout_button.light{
    color: var(--colors-neutral-950, #0E121B);
}

.logout_button.dark{
    color: #E0E4EA;
}

.logout_icon{
    width: 20px;
    height: 20px;
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #0E121B;    
}

.logout_icon.light{
    background-color: #0E121B;    
}

.logout_icon.dark{
    background-color: #E0E4EA;    
}

.logout_icon{
    mask-image: url('/public/icons/icon-logout.svg');
}

.logout_button:hover > .logout_icon{
    background-color: #335CFF;
}


@media(max-width: 850px){
    .logout_button{
        padding: 8px 0px;
    }
}