.note{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 24px;
    background-color: white;
}

.note.light{
    background-color: white;
}

.note.dark{
    background-color: var(--colors-base-black, #0E121B);
}

.note_line{
    width: 100%;
    height: 1px;
    border: none;
    margin: 0px;
}

.note_line.light{
    background-color: var(--colors-neutral-200, #E0E4EA);
}

.note_line.dark{
    background-color: var(--colors-neutral-800, #232530); 
}

.note_metadata{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
    margin: 0px;
    padding: 0px;
}

.buttons{
    display: flex;
    gap: 16px;
}

.status{
    height: 26px;
    display: grid;
    align-items: center;
    grid-template-columns: 121px 1fr;
}

.status_header{
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
}

.status_header.light{
    color: var(--colors-neutral-700, #2B303B);
}

.status_header.dark{
    color: #CACFD8;
}

.status_icon{
    width: 16px;
    height: 16px;
    mask-image: url('./icons/icon-status.svg');
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    mask-position: center;
}

.status_icon.light{
    background-color: #2B303B;
}

.status_icon.dark{
    background-color: #CACFD8;
}

.status_archived{
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
    margin: 0px;
}

.status_archived.light{
    color: var(--colors-neutral-950, #0E121B);
}

.status_archived.dark{
    color: white;
}

.save{
    width: 99px;
    height: 41px;
    border-radius: 8px;
    background-color: var(--colors-blue-500, #335CFF);
    border: none;
    color: var(--colors-base-white, #FFF);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.2px;
    cursor: pointer;
}

.save:hover{
    background-color: var(--colors-blue-700, #2547D0);
}

.cancel{
    width: 78px;
    height: 41px;
    border-radius: var(--corner-radius-8, 8px);
    border: none;
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.2px;
    cursor: pointer;
}

.cancel.light{
    color: var(--colors-neutral-600, #525866);
    background-color: var(--colors-neutral-100, #F3F5F8);
}

.cancel.dark{
    color: #99A0AE;
    background-color: #232530;
}

.cancel.light:hover{
    background-color: #dcdcdc;
}

.cancel.dark:hover{
    background-color: #424242;
}

@media(max-width: 1100px){
    .note{
        padding-bottom: 42px;
    }

    .note.light{
        border-bottom: 2px solid var(--colors-neutral-200, #E0E4EA)
    }

    .note.dark{
        border-bottom: 2px solid var(--colors-neutral-800, #232530);
    }
}


@media(max-width: 850px){
    .note.light, .note.dark{
        border-bottom: none;
    }

    .status{
        grid-template-columns: 123px 1fr;
    }
}

@media(max-width: 550px){
    .note{
        gap: 12px;
        padding: 16px;
        border-radius: 12px 12px 0px 0px;
    }

    .note_metadata{
        gap: 4px;
    }
}