.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: start;
}

.button{
    width: 100%;
    height: 41px;
    border: none;
    border-radius: var(--corner-radius-8, 8px);
    background: var(--colors-blue-500, #335CFF);
    color: var(--colors-base-white, #FFF);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.2px;
    cursor: pointer;
}

.button:focus{
    outline: 1px solid #717784;
    outline-offset: 1px;
}

.button:hover{
    background-color: #2547D0
}


.untitled{
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0px 8px;
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.3px;
    border-radius: var(--spacing-075, 6px);
}

.untitled.light{
    background-color: var(--colors-neutral-100, #F3F5F8);
    color: var(--colors-neutral-950, #0E121B);
}

.untitled.dark{
    background-color: var(--colors-neutral-800, #232530);
    color: #FFFFFF;
}

.mobile_button{
    width: 64px;
    height: 64px;
    background-color: #335CFF;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: var(--closer);
    bottom: 106px;
    right: 35px;
}

.mobile_icon{
    width: 32px;
    height: 32px;
}

.mobile_button:hover{
    background-color: #2547D0;
}


@media(max-width: 1100px){
    .untitled{
        justify-content: center;
    }
}

@media(max-width: 550px){
    .mobile_button{
        width: 48px;
        height: 48px;
        right: 16px;
        bottom: 72px;
    }
}