.container{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 272px 1fr;
    grid-template-rows: 81px auto;
}

.container.light{
    background-color: #FFF;
}

.container.dark{
    background-color: var(--colors-base-black, #0E121B);
}