.form{
    width: 100%;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.error{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--colors-red-500, #FB3748);
    font-family: var(--font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
}

.error_icon{
    width: 16px;
    height: 16px;
    background-color: red;
    mask-image: url('./icons/icon-exclamation.svg');
    mask-size: 16px 16px;
    mask-position: center;
    mask-repeat: no-repeat;
}

.form_submit{
    height: 44px;
    border: none;
    color: #FFF;
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.3px;
    border-radius: 8px;
    background-color: var(--colors-blue-500, #335CFF);
    cursor: pointer;
}

.form_submit:hover{
    background-color: var(--colors-blue-700, #2547D0);
}

.form_submit:focus{
    border-color: var(--colors-neutral-950, #0E121B);
    outline: 2px solid var(--colors-neutral-600, #525866);
    Outline-offset: 1px;
}