.search{
    position: relative;
}

.search_box{
    width: 300px;
    height: 44px;
    padding: 12px 16px 12px 44px;
    border-radius: var(--corner-radius-8, 8px);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
}

.search_box.light{
    border: 1px solid var(--colors-neutral-300, #CACFD8);
    background-color: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    color: var(--colors-neutral-950, #0E121B);
}

.search_box.light::placeholder{
    color: var(--color-neutral-500, #717784);
}

.search_box.dark{
    border: 1px solid var(--colors-neutral-600, #525866);
    background-color: var(--colors-base-black, #0E121B);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
    color: white;
}

.search_box.dark::placeholder{
    color: var(--color-neutral-400,#99A0AE);

}

.search_box.light:focus{
    border-color: #0E121B;
    outline: 1px solid #717784;
    outline-offset: 1px;
}


.search_box.dark:focus{
    outline: 1px solid #525866;
    outline-offset: 1px;
    border-color: #525866
}

.search_box::-webkit-search-decoration,
.search_box::-webkit-search-cancel-button{
    -webkit-appearance: none; 
    appearance: none
}

.search_icon{
    width: 20px;
    height: 20px;
    mask-image: url('./icons/icon-search.svg');
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    mask-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    margin: auto;
}


.search_icon.light{
    background-color: #717784;
}

.search_icon.dark{
    background-color: #99A0AE
}