.signup{
    width: 540px;
    height: auto;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: var(--corner-radius-12, 12px);
}

.signup.light{
    border: 1px solid var(--colors-neutral-200, #E0E4EA);
    background-color: #FFF;
    box-shadow: 0px 8px 12px 0px rgba(240, 240, 240, 0.60);  
}

.signup.dark{
    border: 1px solid var(--colors-neutral-800, #232530);
    background-color: var(--colors-neutral-950, #0E121B);
}

.signup_logo{
    width: 95px;
    height: 28px;
    margin-bottom: 8px;
}

.signup_title{
    font-family: var(--font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.5px;
    margin: 0px 0px -8px 0px;
}

.signup_title.light{
    color: var(--colors-neutral-950, #0E121B);
}

.signup_title.dark{
    color: white;
}

.signup_message{
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
    margin: 0px;
}

.signup_message.light{
    color: var(--colors-neutral-600, #525866);
}

.signup_message.dark{
    color: var(--colors-neutral-300, #CACFD8);
}

.signup_account{
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
    margin: 0px;
}

.signup_account.light{
    color: var(--colors-neutral-600, #525866);
}

.signup_account.dark{
    color: var(--colors-neutral-300, #CACFD8);
}

.signup_account > a{
    cursor: pointer;
}

.signup_account.light > a{
    color: var(--colors-neutral-950, #0E121B);
}

.signup_account.dark > a{
    color: var(--colors-base-white, #FFF);
}

.signup_account > a:hover{
    color: var(--colors-blue-500, #335CFF);
}

@media(max-width: 800px){
    .signup{
        width: 522px;
        padding: 48px 32px;
    }
}

@media(max-width: 600px){
    .signup{
        width: 343px;
        padding: 48px 16px;
    }

    .signup_message{
        text-align: center;
    }
}