.container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.loading_tag{
    width: 70%;
    height: 17px;
    border-radius: 15px;
    margin: 10px 12px;
}

@media(max-width: 850px){
    .container{
        gap: 28px;
    }
    .loading_tag{
        width: 100%;
        margin: 10px 0px 0px 0px;        
    }
}