@font-face {
    font-family: 'sans-serif';
    src: url('../public/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'serif';
    src: url('../public/fonts/NotoSerif-VariableFont_wdth\,wght.ttf');
}

@font-face{
    font-family: 'monospace';
    src: url('../public/fonts/SourceCodePro-VariableFont_wght.ttf')
}

body{
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
    transition: all 0.2s linear;
}

:root{
    --font: 'sans-serif';
    --closest: 100;
    --closer: 75;
    --close: 50;
    --far: 25;
    --farthest: 1;
}