.login{
    width: 540px;
    height: 623px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: var(--corner-radius-12, 12px);
    border: 1px solid var(--colors-neutral-200, #E0E4EA);
    background-color: #FFF;
    box-shadow: 0px 8px 12px 0px rgba(240, 240, 240, 0.60);  
}

.login_logo{
    width: 95px;
    height: 28px;
    margin-bottom: 8px;
}

.login_title{
    color: var(--colors-neutral-950, #0E121B);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.5px;
    margin: 0px 0px -8px 0px;
}

.login_message{
    color: var(--colors-neutral-600, #525866);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
    margin: 0px;
}

