.loading{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes_all{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.notes_note{
    width: 100%;
    padding: 8px;
    border-radius: var(--spacing-075, 6px);
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    position: relative;
}

.notes_note.light:hover{
    background-color: rgba(243, 245, 248, 0.6);
}

.notes_note.dark:hover{
    background-color: rgba(35, 37, 48, 0.5);
}

.verticalLine{
    width: 100%;
    height: 1px;
    margin: 0px;
    border: none;
    background-color: var(--colors-neutral-200, #E0E4EA);
}

.verticalLine.light{
    background-color: #E0E4EA;
}

.verticalLine.dark{
    background-color: var(--colors-neutral-800, #232530);
}

.notes_title{
    word-wrap: break-word;
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.3px;
    margin: 0px;
}


.notes_title.light{
    color: var(--colors-neutral-950, #0E121B);
}

.notes_title.dark{
    color: white;
}

.notes_tags{
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
    row-gap: 4px;
}

.notes_tag{
    word-break: break-all;
    min-height: 18px;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: var(--font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    letter-spacing: -0.2px;
}

.notes_tags.light > .notes_tag{
    background-color: var(--colors-neutral-200, #E0E4EA);
    color: var(--colors-neutral-950, #0E121B);
}

.notes_tags.dark > .notes_tag{
    background-color: var(--colors-neutral-600, #525866);
    color: white;
}

.notes_date{
    font-family: var(--font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    letter-spacing: -0.2px;
    margin: 0px;
}

#selected.light{
    background-color: '#F3F5F8';    
}

#selected.dark{
    background-color: '#232530';  
}

.notes_date.light{
    color: var(--colors-neutral-700, #2B303B);
}

.notes_date.dark{
    color: #CACFD8;
}

.message{
    padding: 8px;
    margin: 0px;
    border-radius: 8px;
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
}

.message.light{
    border: 1px solid var(--colors-neutral-200, #E0E4EA);
    background-color: var(--colors-neutral-100, #F3F5F8);
    color: var(--colors-neutral-950, #0E121B);
}

.message.dark{
    border: 1px solid var(--colors-neutral-700, #2B303B);
    background-color: var(--colors-neutral-800, #232530);
    color: white;
}

@media(max-width: 1100px){
    .notes_all{
        width: initial;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 16px;
    }

    .verticalLine{
        display: none;
    }

    .notes_note{
        width: 120px;
    }

    .notes_note::after{
        display: none;
    }
    
    .message{
        width: 100%;
        text-align: center;
    }

}

@media(max-width: 850px){
    .notes_all{
        flex-direction: column;
    }

    .notes_note{
        width: 100%;
    }

    .verticalLine{
        display: block;
    }
}