.loading{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes_all{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notes_note{
    width: 100%;
    padding: 8px;
    border-radius: var(--spacing-075, 6px);
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    position: relative;
}

.notes_note:not(.notes_note:last-child)::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 100%;
    height: 1px;
}

.notes_note.dark:not(.notes_note.dark:last-child)::after{
    background-color: var(--colors-neutral-800, #232530);
}

.notes_note.light:not(.notes_note.light:last-child)::after{
    background-color: #E0E4EA;
}

.notes_title{
    word-wrap: break-word;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.3px;
    margin: 0px;
}


.notes_title.light{
    color: var(--colors-neutral-950, #0E121B);
}

.notes_title.dark{
    color: white;
}

.notes_tags{
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
}

.notes_tag{
    word-wrap: break-word;
    height: 18px;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    letter-spacing: -0.2px;
}

.notes_tags.light > .notes_tag{
    background-color: var(--colors-neutral-200, #E0E4EA);
    color: var(--colors-neutral-950, #0E121B);
}

.notes_tags.dark > .notes_tag{
    background-color: var(--colors-neutral-600, #525866);
    color: white;
}

.notes_date{
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    letter-spacing: -0.2px;
    margin: 0px;
}

#selected.light{
    background-color: '#F3F5F8'    
}

#selected.dark{
    background-color: '#232530'   
}

.notes_date.light{
    color: var(--colors-neutral-700, #2B303B);
}

.notes_date.dark{
    color: #CACFD8;
}

.message{
    padding: 8px;
    margin: 0px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
}

.message.light{
    border: 1px solid var(--colors-neutral-200, #E0E4EA);
    background-color: var(--colors-neutral-100, #F3F5F8);
    color: var(--colors-neutral-950, #0E121B);
}

.message.dark{
    border: 1px solid var(--colors-neutral-700, #2B303B);
    background-color: var(--colors-neutral-800, #232530);
    color: white;
}