.settings{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.settings_icon{
    width: 24px;
    height: 24px;
    background-color: #717784;
    mask-image: url('./icons/icon-settings.svg');
    mask-size: 24px 24px;
    mask-position: center;
    mask-repeat: no-repeat;
}

.settings_icon:hover{
    background-color: #484c54;
}