.nav{
    width: 100%;
    height: 100%;
    padding: 20px 16px 20px 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav.light{
    border-right: 1px solid var(--colors-neutral-200, #E0E4EA);
}

.nav.dark{
    border-right: 1px solid var(--colors-neutral-800, #232530);
}

.nav_button{
    border: none;
    border-radius: var(--spacing-075, 6px);
    background-color: transparent;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.2px;
    position: relative;
    cursor: pointer;
}

.nav_button.light{
    color: var(--colors-neutral-950, #0E121B);
}

.nav_button.dark{
    color: #E0E4EA;
}

.nav_arrow{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;
    margin: auto;
}

.nav_icon_theme, 
.nav_icon_font,
.nav_icon_lock,
.nav_icon_logout{
    width: 20px;
    height: 20px;
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #0E121B;    
}

.nav_icon_theme.light, 
.nav_icon_font.light,
.nav_icon_lock.light,
.nav_icon_logout.light{
    background-color: #0E121B;    
}

.nav_icon_theme.dark, 
.nav_icon_font.dark,
.nav_icon_lock.dark,
.nav_icon_logout.dark{
    background-color: #E0E4EA;    
}

.nav_icon_theme{
    mask-image: url('/public/icons/icon-sun.svg');
}

.nav_icon_font{
    mask-image: url('/public/icons/icon-font.svg');
}

.nav_icon_lock{
    mask-image: url('/public/icons/icon-lock.svg');
}

.nav_icon_logout{
    mask-image: url('/public/icons/icon-logout.svg');
}

.nav_button:hover > .nav_icon_theme,
.nav_button:hover > .nav_icon_font,
.nav_button:hover > .nav_icon_lock,
.nav_button:hover > .nav_icon_logout{
    background-color: #335CFF;
}

.nav_line{
    width: 100%;
    height: 1px;
    padding: 0px;
    border: none;
    margin: 0px;
}

.nav_line.light{
    background-color: var(--colors-neutral-200, #E0E4EA);
}

.nav_line.dark{
    background-color: var(--colors-neutral-800, #232530);
}

